:root,
:root.light {
  /* DEFAULT COLOR SCHEME */
  /*--color-primary: #38393b;
  --color-primary-highlight: #3f4145;
  --color-secondary: #fffdfc;
  --color-secondary-highlight: #f4f1ef;
  --color-accent: #9c4140;
  --color-accent-highlight: #b13c3a;*/

  --color-primary: #2b2d42;
  --color-primary-highlight: #8d99ae;
  --color-secondary: #edf2f4;
  --color-secondary-highlight: #8d99ae;
  --color-accent: #d90429;
  --color-accent-highlight: #ef233c;
}
:root.dark {
  /* DARK COLOR SCHEME */
  /*--color-primary: #f0f2f2;
  --color-primary-highlight: #e7eeee;
  --color-secondary: #18202d;
  --color-secondary-highlight: #1d283a;
  --color-accent: #9c4140;
  --color-accent-highlight: #b13c3a;*/
  --color-primary: #edf2f4;
  --color-primary-highlight: #8d99ae;
  --color-secondary: #2b2d42;
  --color-secondary-highlight: #8d99ae;
  --color-accent: #d90429;
  --color-accent-highlight: #ef233c;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /*color-scheme: light dark;*/
  color: var(--color-primary);
  background-color: var(--color-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
  transition: color 0.25s;
  cursor: pointer;

  &:hover {
    color: var(--color-accent-highlight);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  font-family: inherit;

  &:enabled {
    cursor: pointer;
  }
}

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
